/*
 * Copyright 2017 The boardgame.io Authors
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */
/*@import "compass/css3";*/
#board {
    border-collapse: collapse;
    font-family: monospace;
}

#winner {
    margin-top: 25px;
    width: 168px;
    text-align: center;
}

/*td {*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*    font-size: 25px;*/
/*    color: #555;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    line-height: 50px;*/
/*    border: 3px solid #aaa;*/
/*    background: #fff;*/
/*}*/

/*td.active {*/
/*    cursor: pointer;*/
/*    background: #eeffe9;*/
/*}*/

/*td.active:hover {*/
/*    background: #eeffff;*/
/*}*/



.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: 3px solid saddlebrown;
    color: white;
    text-align: center;
    position: absolute;
    /*cursor: pointer;*/
}

.circle-green {
    background: green;
}
.circle-blue {
    background: blue;
}
.circle-red {
    background: red;
}
.circle-orange {
    background: orange;
}

.circle:hover {
    border-style: dotted;
}

.circle-green:hover {
    background: lightgreen;
    color: black;
}
.circle-blue:hover {
    background: lightblue;
    color: black;
}
.circle-red:hover {
    background: coral;
    color: black;
}
.circle-orange:hover {
    background: yellow;
    color: black;
}

.selectable {
    animation: pulse 1s infinite;
    cursor: pointer;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        /*transform: scale(0.2);*/
        -webkit-transform: translate(-50%, -50%) scale(0.8)
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        -webkit-transform: translate(-50%, -50%) scale(1.2)
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        -webkit-transform: translate(-50%, -50%) scale(0.8);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        transform: translate(-50%, -50%) scale(0.8);
        /*-webkit-transform: scale(0.2);*/

    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        transform: translate(-50%, -50%) scale(1.2)
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        transform: translate(-50%, -50%) scale(0.8)
    }
}